h2 {
    font-size:20px; margin-top: 0px;
}
.page-header {
    border-bottom: 1px solid #a09595;
    font-size: 25px;
    margin: 10px 0 20px;
}
.mycontent-left {
    border-right: 1px solid #a09595;
}
.mycontent-right {
    border-left: 1px solid #a09595;
}
.top-20 {
    margin-top:20px;
}
.fixed-type {
    color: #81c784;
}
.cash-type {
    color: #4db6ac;
}
.credit-type {
    color: #64b5f6;
}
.available {
    font-size:35px;
}
small,.small {
    font-size:50%;
    opacity:0.8;
}
form div span{
    color:red;
    display:block;
}